@charset "UTF-8";
html,
body,
div,
header,
main,
article,
footer,
section,
aside,
nav,
hgroup,
ul,
li,
h1,
h2,
h3,
h4,
dl,
dt,
dd,
p,
a,
span,
i,
em,
img,
input,
textarea {
	margin: 0;
	padding: 0
}

header,
main,
article,
footer,
section,
aside,
nav {
	display: block
}

html,
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
b {
	font-weight: normal
}

a,
img,
input {
	border: none 0;
	text-decoration: none;
	outline: none
}

a:hover {
	text-decoration: none
}

a:focus,
input:focus {
	outline: 0 none
}

li {
	list-style: none
}

i,
em,
cite {
	font-style: normal
}

a {
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

span {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

input,
textarea,
li {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

textarea {
	resize: none;
	font-size: 12px;
	outline: none 0;
	border: none 0
}

textarea,
input,
button {
	-webkit-appearance: none;
	outline: none 0;
	border: none 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #ddd;
	font-size: 12px
}

img {
	display: block;
	width: 100%
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	*+height: 1%;
}

html {
	font-size: 42.6667px;
}


/*取消滚动条*/

::-webkit-scrollbar {
	display: none;
}

img {
	pointer-events: none;
}


/*禁止图片长按选中*/

a,
a:hover {
	color: #282828;
}

html,
body {
	height: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	/*禁止文字选中*/
	-webkit-overflow-scrolling: touch;
	/*滚动顺滑*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*取消ios上链接长按出现的半透明黑色遮罩*/
	background: #f5f5f5;
}


/*超出文字显示省略号*/

.overflowEllipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


/*强制断句*/

.wordBreakAll {
	word-wrap: break-word;
	word-break: break-all;
}


/*加载提示符*/

.infinite-scroll-preloader {
	width: 18px;
	height: 48px;
	overflow: hidden;
	margin: 10px auto 0;
	background: url("http://file.diy.51app.cn/wp/icoImg/loading.gif") no-repeat;
	background-size: 100%;
}


/*到底了提示开始*/

.lastTips {
	width: 100%;
	text-align: center;
	margin: 10px 0 0;
	padding-bottom: 35px;
	color: #a7a5a5;
	font-size: .28rem;
}

.lastTips i {
	display: inline-block;
	margin: 0 5px 5px;
	width: 2rem;
	height: 1px;
}

.lastTips .left-line {
	background: linear-gradient(to right, #d9d9d9, #f0f0f0);
	background: -webkit-linear-gradient(right, #d9d9d9, #f0f0f0);
}

.lastTips .right-line {
	background: linear-gradient(to left, #d9d9d9, #f0f0f0);
	background: -webkit-linear-gradient(left, #d9d9d9, #f0f0f0);
}


/*到底了提示结束*/


/*回到顶部开始*/

.gotoTop {
	position: fixed;
	bottom: .2rem;
	right: .28rem;
	width: .64rem;
	height: .64rem;
	z-index: 999;
}

.gotoTop.hide {
	display: none
}


/*回到顶部结束*/


/*loading页面开始*/

.hd-noLoad {
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	/*display: none;*/
}

.hd-noLoad .hd-loading {
	width: .4rem;
	height: .4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -.2rem;
	margin-top: -.2rem;
	z-index: 888;
}


/*loading页面结束*/

.containerBox {
	background: #f7f6f6;
	padding-bottom: .3rem;
}


/*首页开始*/

.index .hotProduct {}

.index .hotProduct .firstRow {}

.index .hotProduct .firstRow .item {
	float: left;
	width: 25%;
	box-sizing: border-box;
	height: 1.96rem;
	padding: .29rem 0 .14rem 0;
	/*border-right: 1px solid #e6e6e6;*/
	position: relative;
}

.index .hotProduct .firstRow .item :after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-right: 1px solid #e6e6e6;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 200%;
	height: 200%;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: left top;
	transform-origin: left top;
}

.index .hotProduct .firstRow .item:last-child {
	border: 0;
}

.index .hotProduct .firstRow .item img {
	width: .78rem;
	height: .78rem;
	margin: 0 auto;
	border: .1rem;
}

.index .hotProduct .firstRow .item .name {
	width: 100%;
	text-align: center;
	font-size: .26rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: .1rem;
	color: #323232;
}

.index .hotProduct .firstRow .item .specialty {
	width: 100%;
	text-align: center;
	font-size: .22rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #969696;
}

.index .hotProduct .secondRow {
	width: 100%;
	height: 1.34rem;
	overflow: hidden;
}

.index .hotProduct .tips {
	position: absolute;
	top: 0;
	right: 0;
	width: .66rem;
	height: .66rem;
}

.index .listTitle {
	height: 1rem;
	line-height: 1rem;
	padding: 0 .24rem;
	color: #969696;
	font-size: .32rem;
	margin-top: .2rem;
	background: #fff;
	overflow: hidden;
	text-align: center;
}

.index .productList {
	padding: 0 .28rem;
	background: #fff;
}

.index .productItem:first-child {
	/*border-top: 1px solid #dedede;*/
}
.index .productItem:first-child:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-top: 1px solid #dedede;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 200%;
	height: 200%;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: left top;
	transform-origin: left top;
}

.index .productItem {
	height: 1.65rem;
	/*border-bottom: 1px solid #dedede;*/
	position: relative;
}
.index .productItem:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 1px solid #dedede;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 200%;
	height: 200%;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: left top;
	transform-origin: left top;
}


.index .productItem:active::after,
.index .hotProduct .firstRow .item:active::after {
	content: '';
	/*width: 100%;
	height: 100%;*/
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	box-shadow: inset 0 0 1000px rgba(72, 72, 72, .2);
}

.index .productItem .logo {
	position: absolute;
	top: .23rem;
	left: .28rem;
	width: .72rem;
	height: .72rem;
	border-radius: .1rem;
}

.index .productItem .name {
	position: absolute;
	top: .23rem;
	left: 1.27rem;
	width: 3.9rem;
	height: .36rem;
	line-height: .36rem;
	font-size: .3rem;
	color: #3d3d3d;
}

.index .productItem .limit {
	position: absolute;
	top: .65rem;
	left: 1.27rem;
	width: 3.9rem;
	height: .36rem;
	line-height: .36rem;
	font-size: .3rem;
	color: #ff6060;
}

.index .productItem .info {
	position: absolute;
	bottom: .16rem;
	left: .28rem;
	width: 3.9rem;
	height: .36rem;
	line-height: .36rem;
	font-size: .24rem;
	color: #323232;
}

.index .productItem .info i {
	color: #ff6060;
	margin-left: .1rem;
}

.index .productItem .info b {
	display: inline-block;
	width: .02rem;
	height: 70%;
	margin: 0 .2rem;
	background: #323232;
	vertical-align: -.04rem;
}

.index .productItem .apply {
	position: absolute;
	top: .4rem;
	right: .27rem;
	width: 2.14rem;
}

.index .productItem .tips {
	position: absolute;
	top: 0;
	right: -.28rem;
	width: .74rem;
	height: .74rem;
}


/*首页结束*/




/*文字规则部分开始*/

.details .rule {
	margin-top: .2rem;
	padding: .1rem .4rem .25rem;
	background: #fff;
	color: #969696;
	font-size: .26rem;
}

.details .rule h4 {
	font-size: .28rem;
	color: #323232;
}

.details .rule .line {
	height: 1px;
	width: 100%;
	margin-top: .15rem;
	background: #e7e7e7;
}

.details .rule p {
	margin-top: .15rem;
}


/*文字规则部分结束*/


/*贷款详情结束*/


